version: 2.1

orbs:
  anchore: anchore/anchore-engine@dev:0.1.5
jobs:
  build:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build Docker image
          command: |
            docker build -t ${CIRCLE_PROJECT_REPONAME}:ci -f .circleci/Dockerfile .
      - run:
          name: Save Docker image
          command: |
            rm -rf /home/circleci/workspace/caches/
            mkdir /home/circleci/workspace/caches/ -p
            docker save -o /home/circleci/workspace/caches/${CIRCLE_PROJECT_REPONAME}-ci.tar ${CIRCLE_PROJECT_REPONAME}:ci
      - persist_to_workspace:
          root: /home/circleci/workspace/
          paths:
            - caches/*

  local_image_scan:
    executor: anchore/anchore_engine
    steps:
      - attach_workspace:
          at: /home/circleci/workspace/
      - run:
          name: Load Docker image layer cache
          command: |
            docker load -i /home/circleci/workspace/caches/${CIRCLE_PROJECT_REPONAME}-ci.tar || true
      - anchore/analyze_local_image:
          image_name: ${CIRCLE_PROJECT_REPONAME}:ci

workflows:
  scan_image:
    jobs:
      - build
      - local_image_scan:
          requires:
            - build
      - anchore/image_scan:
          image_name: anchore/anchore-engine:latest
      - anchore/image_scan:
          image_name: "anchore/private_testing:anchore-ui-dev"
          private_registry: True
